.product-card_image {
  margin-top: 1em;
  border: 1px solid black;
  border-radius: 10px;
}

.product-card_name {
  font-size: 1.6rem;
  text-decoration: underline;
}

.product-card_price {
  font-size: 1.4rem;
  margin-bottom: 1em;
}
