.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: url("https://images4.alphacoders.com/660/66086.jpg");
  background-position: center;
  background-size: cover;
}

.container-logo {
  padding-top: 5px;
}
.container-logo img {
  width: auto;
}

.container-nav {
  display: flex;
}

.container-nav li {
  margin: 0px 10px 10px;
  list-style: none;
}

.container-nav li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 25px;
}

.container-nav li a:hover {
  text-decoration: underline;
}

.carrito {
  width: 10%;
  padding: auto;
}

.cartText {
  color: white;
  font-size: 2em;
  text-align: start;
}
