.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.Buttons-Cart, .Buttons-Menu{
    color: black;
    font-weight: 400;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;   
    font-size: 1.5rem;
    transition: all 300ms ease-out;
  

}

.Buttons-Cart:hover, .Buttons-Menu:hover{
    background-color: grey;
    color: black;
    cursor: pointer;
}

