.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('https://images4.alphacoders.com/660/66086.jpg');
    background-position: center;
    background-size: cover;
  }
  
  .contenedor-logo {
    padding-top: 5px;
    
  }
  .contenedor-logo img {
    width: auto;
    
  }
  
  .contenedor-nav {
    display: flex;    
    
  }
  
  .contenedor-nav li {
    margin: 0px 10px 10px;
    list-style: none;
  }
  
  .contenedor-nav li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 25px;
  }

  .contenedor-nav li a:hover{
      text-decoration: underline;
  }